<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<beans:bean
		class="org.springframework.security.web.access.ExceptionTranslationFilter"
		id="exceptionTranslationFilter">
		<beans:property ref="jsfAccessDeniedHandler" name="accessDeniedHandler" />
		<beans:property ref="authenticationEntryPoint" name="authenticationEntryPoint" />
	</beans:bean>

	<beans:bean class="desafiodev.security.JsfAccessDeniedHandler"
		id="jsfAccessDeniedHandler">
		<beans:property name="loginPath" value="/AcessoNegado.xhtml" />
		<beans:property name="contextRelative" value="true" />
	</beans:bean>


	<beans:bean class="desafiodev.security.JsfLoginUrlAuthenticationEntryPoint"
		id="authenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/Login.xhtml" />
		<beans:property ref="jsfRedirectStrategy" name="redirectStrategy" />
	</beans:bean>

	<beans:bean class="desafio.security.JsfRedirectStrategy"
		id="jsfRedirectStrategy" />

	<beans:bean id="appUserDetailsService" class="com.SiteGTS.security.AppUserDetailsService" />

	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/Login.xhtml" security="none" />
	<http pattern="/Erro.xhtml" security="none" />

	<http auto-config="false" use-expressions="true">
		
	 	<intercept-url pattern="/matricula/matricula.xhtml" access="hasAnyRole('ALUNO')"/>
	 	<intercept-url pattern="/pesquisa/pesquisaalunosemdisciplinas.xhtml" access="hasAnyRole('SECRETARIA')"/>
		<intercept-url pattern="/pesquisa/pesquisaalunosnasmaterias.xhtml" access="hasAnyRole('PROFESSOR')"/>
		
		<intercept-url pattern="/**" access="isAuthenticated()" />
 
		<form-login login-page="/Login.xhtml" default-target-url="/"
			always-use-default-target="true" authentication-failure-url="/Login.xhtml?invalid=true" />

		<logout logout-url="/j_spring_security_logout"
			invalidate-session="true" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			 <password-encoder hash="md5" /> 
		</authentication-provider>
	</authentication-manager>

</beans:beans>
